/* elements styles (alphabetic order) */

body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-color: palegreen;
    background: url("../../assets/images/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

button {
    width: fit-content;
    font-size: 1.3em;
    background-color: palegreen;
    border: 2px outset palegreen;
}

fieldset {
    padding: 20px;
    border: none;
}

form {
    margin: auto;
    text-align: left;
    padding: 10px;
    line-height: 1.6;
}

h1 {
    margin-left: auto;
    margin-right: auto;
    color: forestgreen
}

h2,
h3 {
    font-size: 1.2em;
}


/* class styles (alphabetic order) */

.bold {
    font-weight: bold;
}

/* id styles (alphabetic order) */

#answer {
    margin: auto;
}

#clock {
    font-size: 2.0em;
    margin-left: 10px;
    padding: 5px;
    width: fit-content;
    font-family: monospace;
    color: white;
    background-color: black;
    border: 2px inset palegreen;
}

#container {
    text-align: center;
}

#header {
    height: 100px;
    width: auto;
    margin: auto;
}

#content-wrapper {
    width: 75%;
    min-height: 400px;
    margin: auto;
    padding: 20px;
    text-align: left;
    background-color: white;
    border: 2px inset lightgreen;
    font-size: 1.3em;
    font-family: 'Arial',
        'Helvetica Neue',
        Helvetica,
        sans-serif;
}

#result {
    font-size: 1.3em;
    margin: auto;
    text-align: center;
    vertical-align: center;
}